body {
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.login-div {
    display: inline-block;
    padding: 15px;
    box-shadow: 0 0 2px;
}

/*többszörösen egymásba ágyazott szelektorokat szóközökkel kell elválasztani*/
.login-div input {
    padding: 3px;
    margin-bottom: 7px;
    display: block;
}

/*

Attributum szelektor:
input[type="email"]
Az input elem type tulajdonságát választjuk ki, melynek értéke email.

*/

/* 

input[class*="control"] bárhol a class attributumban keresi a "control" szót
input[class^="control"] a class-nak "control" szóval kell kezdődnie
input[class$="control"] a class-nak "control" szóval kell végződnie

*/

/* input[class*="control"] {
    display: block;
}


input[class^="blue"] {
    border: solid 1px blue;
}

input[class$="red"] {
    border: solid 1px red;
} */

/* Pszeudo szelektorok */

.login-div button:hover {
    box-shadow: 2px 2px 3px #c0c0c0;
}

.login-div input:focus {
    box-shadow: 2px 2px 3px #c0c0c0;
    border: none;
}

ul li:last-child {
    text-decoration: underline;
}

ul li:first-child {
    color: red;
}

ul li:nth-child(2) {
    color: lightseagreen;
}
